/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/04/2016, 15:17:51
    Author     : Julio
*/

.botaoAzulLogin {
    padding: 2%;
    margin:2%;
    border:1px solid #A3DAD9;
    position:relative;
    float: left;
    border-radius: 10px;
    color:white;
    cursor: pointer;
    background-color: #A3DAD9;
    background: #0098DA;
}
.botaoAzulLogin:hover {
    color:#fff;
    border:1px solid #122b40;
    background-color: #0E69D1;
    background: #0E69D1;
}


.limpar {
    padding: 0.5%;
    border:1px solid #A3DAD9;
    position:relative;
    float: left;
    border-radius: 10px;
    color:#fff;
    cursor: pointer;
    background-color: #8CA9D2;
}
.limpar:hover {
    color:#fff;
    border:1px solid #122b40;
    background-color: #0E69D1;
}


body{
    overflow-x: hidden;
}

#tessste{
     overflow-x: hidden;
}



.acordion{
    background: black !important;
}

.tamanho20{
    width:20%;
}

.tamanho12{
    width:12%;
}

.tamanho7{
    width:7%;
}

.tamanho45{
    width:45%;   
}   

.tamanho35{
    width:35%;
} 
.tamanho60{    
    width:60%;
}

.tamanho80{
    width:80%;
}

.tamanho70{
    width:70%;
}

.tamanho55{
    width:55%;
}

.tamanho50{
    width:50%;
}

.tamanho30{
    width:30%;
}

.tamanho25{
    width:25%;
}
  
.fc-event.fc-draggable {
    cursor: pointer;
    background: transparent;
    border: transparent;
} 

.imagemusuarioeditar{
    width: 100px;
    height: 100px;        
    border-radius: 50em;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
    animation: fadeInRotate .9s ease;
    -webkit-animation: fadeInRotate .9s ease;
    -moz-animation: fadeInRotate .9s ease;
    -ms-animation: fadeInRotate .9s ease;
    -o-animation: fadeInRotate .9s ease;
}    

.alterarImagem{
    text-decoration: none;
}

.alterarImagem:hover{
    background: transparent !important;
}